@font-face {
  font-family: 'Gilory';
  src: url(./fonts/Gilroy-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilory';
  src: url(./fonts/Gilroy-Medium.woff) format('woff');
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: 'Gilory';
  src: url(./fonts/Gilroy-SemiBold.woff) format('woff');
  font-style: semibold;
  font-weight: 600;
}

@font-face {
  font-family: 'Gilory';
  src: url(./fonts/Gilroy-Bold.woff) format('woff');
  font-style: bold;
  font-weight: 700;
}

body {
  font-family: 'Gilory', sans-serif;
}

.fill-animation {
  animation: fill 3s ease infinite;
}


@keyframes fill {
  0% {
    width: 0;
  }
  100% {
    width: 66%;
  }
}